.btn-blue {
       background-color: darkblue;
       padding: 15px 20px;
       border-radius: 4px;
       width: 200 px;
       color: white;
       font-weight: bold;
       font-family: 'Alkatra' cursive;
 }